<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601482151956-tjdob70pod049cm5p3sbhos2ljatsc80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601482151956-tjdob70pod049cm5p3sbhos2ljatsc80</string>
	<key>API_KEY</key>
	<string>AIzaSyAoq1wE5ZPlbkBrIiLNGgZfEPBxIuZprAU</string>
	<key>GCM_SENDER_ID</key>
	<string>601482151956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christopherkoski.ExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-1bfad</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-1bfad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601482151956:ios:76e8e1f8fdde3ca55aff01</string>
</dict>
</plist>